body {
    padding-top: 70px;
}

textarea {
    resize: vertical;
}

.profile-image-wall {
    margin-right: 10px;
    height: 70px;
    width: 70px;
}

.status {
    margin-bottom: 20px;
}

.update-status {
    min-height: 3em;
}